<h1>Calibre → Geckoboard</h1>

<p class="type-large">Post Calibre ‘Snapshot’ webhooks to:<br /> <code>{{webhook_path}}</code></p>

<p>
  {{#each metrics as |metric|}}<code>{{metric}}</code>{{/each}} will be delivered to Geckboard.
</p>

<footer>
  Need some help? Peep the <a href="https://calibreapp.com/docs/geckoboard">Calibre Geckoboard guide!</a>
</footer>
